* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
@mixin headingone {
    color: #303030;
    font-size: 85px;
    font-weight: 900;
    letter-spacing: 3px;
    z-index: 1;
    top: 30px;
    left: 500px;
}
@mixin headingthree {
    color: #d9d9d9;
    top: 65px;
    left: 450px;
    z-index: 2;
    letter-spacing: 2px;
    font-size: 30px;
}

// Header section style
.header-section {
    background-image: url('../images/placeholder.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    .navbar {
        padding: 25px 0;
        border-bottom: 1px solid grey;
        .navbar-brand {
            color: #34C759;
            letter-spacing: 2px;
        }
        .navbar-nav {
            padding-left: 430px;
            .nav-item {
                padding-left: 25px;
            }
            .nav-link {
                color: #FFFFFF;
            }
        }
        .nav-link.active {
            color: #34C759;
        }
    }
    &__home {
        h1 {
            font-size: 72px;
            text-transform: capitalize;
            padding: 50px 100px 0;
        }
        .paragraph1 {
            padding: 0 280px;
        }
        .btn {
            border-radius: 43px;
            padding: 15px 30px;
            color: black;
            font-weight: bold;
            margin: 30px auto;
            background-color: #34C759;
        }
        .btn:hover {
            background-color: #34C759;
            transform: scale(1.1);
            transition: all 0.3s linear;
        }
        .col {
            padding: 20px 0 100px;
            h5 {
                padding-top: 10px;
            }
        }
    }
}

// Main section style
.main-section {
    background-color: #191919;
    &__about {
        .container {
            background-color: #252525;
            padding-bottom: 70px;
            h1 {
                @include headingone;
            }
            h3 {
               @include headingthree;
            }
            p {
                text-align: center;
                color: #a6a6a6;
                padding: 180px 200px 50px;
            }
            .left-arrow {
                padding-left: 50px;
            }
            .right-arrow {
                padding-right: 50px;
            }
        }
    }
    &__work {
        margin-top: 30px;
        h1 {
            @include headingone;
        }
        h3 {
            @include headingthree();
            left: 530px;
            font-size: 36px;
        }
        .img1 {
            padding: 150px 0 0 500px;
        }
       .col-sm {
            padding-top: 70px;
            .card {
                padding: 35px 25px 50px 30px;
            }
            .card1 {
                background-color: #34C759;
                padding: 35px 25px 29px 30px;
            }
            img {
                padding-top: 10px;
            }
            p {
                font-size: 14px;
                padding-top: 20px;
            }

       } 
    }
    &__dishes {
        margin-top: 30px;
        h1 {
            @include headingone;
        }
        h3 {
            @include headingthree();
            left: 530px;
            font-size: 36px;
        }
        .img1 {
            padding: 150px 0 0 500px;
        }
        .card {
            .img1 {
                top: 40px;
                right: 40px;
            }
            background-color: #252525;
            .card-title {
                color: #FFFFFF;
                padding: 20px 40px 0;
            }
            .card-text {
                color: #FFFFFF;
                padding: 0 40px;
                text-align: justify;
            }
            .icons {
                padding-left: 40px;
                padding-bottom: 40px;
                i {
                    color: #4D4D4D;
                    padding-right: 5px;
                }
                p {
                    color: #FFFFFF;
                    padding: 20px 0 0 20px;
                }
            }
            .btn {
                background-color: transparent;
                border: 1px solid #4D4D4D;
                color: #939393;
                border-radius: 30px;
                padding: 10px 30px;
                margin-left: 40px;
            }
            .btn-success {
                background-color: #34C759;
                color: #191919;
                font-weight: 700;
            }
        }  
    }
    &__chefs {
        margin-top: 30px;
        h1 {
            @include headingone;
        }
        h3 {
            @include headingthree();
            left: 500px;
            font-size: 36px;
        }
        .row {
            padding-top: 180px;
            .text {
                h4 {
                    color: #FFFFFF;
                    padding: 20px 30px 0;
                    margin-bottom: 0;
                }
                p {
                    color: #FFFFFF;
                    padding-left: 30px;
                }
            }
            .col-sm-12 {
                img {
                    margin-right: 20px;
                    margin-top: 20px;
                }
            }
        }
    }
    &__recipes {
        margin-top: 50px;
        h1 {
            @include headingone;
        }
        h3 {
            @include headingthree();
            left: 500px;
            font-size: 36px;
        }
        .img1 {
            padding: 150px 0 0 550px;
        }
        .col-sm {
            margin-top: 50px;
        }
        .background {
            background-image: url('../images/placeholder\ \(9\).png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            .btn {
                margin: 70px 0;
                border-radius: 0px;
                padding: 10px 20px;
                font-size: 12px;
                font-weight: 700;
            }
            h5 {
                font-size: 14px;
                font-weight: 400;
            }
            p {
                font-size: 24px;
                padding: 15px 100px;
            }
            .statistics {
                padding: 70px 0 0;
                .statistic-item {
                    padding: 0 20px;
                    color: white;
                }
            }
        } 
        .text {
            margin-left: 10px;
            .box1 {
                background-color: #252525;
                border-radius: 6px;
                padding: 30px;
                .btn {
                    background-color: black;
                    color: white;
                    font-size: 12px;
                }
                h6 {
                    font-size: 12px;
                    padding-top: 10px;
                }
                .statistics {
                    font-size: 12px;
                }
                .statistic-item {
                    padding-right: 20px;
                }
            }
            .box2 {
                background-image: url('../images/image.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                @extend .box1;
            }
            .box3 {
                @extend .box1;
                background-color: #34C759;
            }
        }
    }
    &__social {
        margin-top: 50px;
        h1 {
            @include headingone;
        }
        h3 {
            @include headingthree();
            left: 490px;
            font-size: 36px;
        }
        .img1 {
            padding: 150px 0 0 550px;
        }
        .row > * {
            padding-right: 0;
            padding-left: 0;
        }
        .col-sm {
            background-color: #252525;
            margin: 50px 10px 0;
            border-radius: 6px;
            .navbar {
                padding: 30px;
                .link {
                    width: 40px;
                    height: 40px;
                    border: 1px solid #939393;
                    border-radius: 50%;
                }
                i {
                    padding: 10px 0 0 12px;
                    color: #939393;
                }
                h5 {
                    color: #b5b5b5;
                    font-size: 14px;
                    padding-right: 40px;
                }
                .btn {
                    border-radius: 20px;
                    border: 1px solid #303030;
                    color: #b5b5b5;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 0.4px;
                }
            }
            h6 {
                color: #4D4D4D;
                padding: 30px 30px 10px;
            }
            p {
                color: #d9d9d9;
                padding: 0 30px;
                line-height: 30px;
            }
            .text-success {
                padding-left: 30px;
            }
        }
    }
}

// Footer section style
.footer-section {
    padding-top: 100px;
    background-color: #191919;
    .paragraph {
        margin-bottom: 0;
        color: #FFFFFF;
    }
    .navbar-brand {
        padding: 50px 0 20px 450px;
        display: block;
        color: #34C759;
    }
}


// Responsive web design

@media only screen and (max-width: 446.9px) {
    // Header section 
    .header-section {
        .navbar {
            .navbar-brand {
                font-size: 15px;
                margin-right: 0;
            }
            .navbar-nav {
                padding: 0;
                padding-top: 20px;
            }
        }
        &__home {
            h1 {
                font-size: 40px;
                padding: 20px 0 0;
            }
            .paragraph1 {
                padding: 0;
                padding-top: 10px;
            }
            .col {
                padding: 15px;
                h5 {
                    font-size: 15px;
                }
            }
        }
    }

    // Main section 
    .main-section {
        &__about {
            .container {
                h1 {
                    font-size: 50px;
                    left: 70px;
                    top: 40px;
                }
                h3 {
                    font-size: 15px;
                    left: 50px;
                    top: 60px;
                    line-height: 25px;
                }
                p {
                    padding: 120px 0 0;
                }
                .flex {
                    flex-direction: column; 
                    img {
                        margin-top: 20px;
                    }
                }
                .left-arrow, .right-arrow {
                    display: none;
                }
            }
        }
        &__work {
            h1 {
                font-size: 50px;
                left: 70px;
                top: 40px;
            }
            h3 {
                font-size: 25px;
                left: 75px;
                top: 60px;
                line-height: 25px;
            }
            .img1 {
                padding: 120px 0 40px 120px;
            }
            .col-sm {
                padding-top: 50px;
            }
        }
        &__dishes {
            h1 {
                font-size: 50px;
                left: 60px;
                top: 40px;
            }
            h3 {
                font-size: 25px;
                left: 65px;
                top: 60px;
                line-height: 25px;
            }
            .img1 {
                padding: 120px 0 40px 120px;
            }
            .card {
                .btn {
                    margin-left: 20px;
                    padding: 10px 20px;
                }
            } 
        }
        &__chefs {
            h1 {
                font-size: 50px;
                left: 70px;
                top: 40px;
            }
            h3 {
                font-size: 25px;
                left: 50px;
                top: 60px;
                line-height: 25px;
            }  
            .row {
                padding-top: 150px;
                .col-sm {
                    padding-left: 50px;
                }
                .col-sm-12 {
                    // padding-left: 10px;
                    img {
                        margin-right: 0;
                    }
                }
            }
        }
        &__recipes {
            h1 {
                font-size: 50px;
                left: 40px;
                top: 40px;
            }
            h3 {
                font-size: 22px;
                left: 25px;
                top: 60px;
                line-height: 25px;
            }
            .img1 {
                padding: 120px 0 40px 120px;
            }
            .background {
                margin-right: 0;
                p {
                    padding: 0;
                }
                padding-bottom: 50px;
            }
            .text {
                margin-left: 0;
                .box1 {
                    padding: 15px;
                    .statistic-item {
                        padding-right: 5px;
                    }
                }
            }
        } 
        &__social {   
            h1 {
                font-size: 50px;
                left: 40px;
                top: 40px;
            }
            h3 {
                font-size: 22px;
                left: 25px;
                top: 60px;
                line-height: 25px;
            }
            .img1 {
                padding: 120px 0 40px 120px;
            }
            .col-sm {
                margin: 0;
                margin-top: 40px;
            }
        }
    }

    // Footer section
    .footer-section {
        .col {
            font-size: 15px;
            h5 {
                font-size: 15px;
            }
        }
        .navbar-brand {
            padding: 20px 0 10px 20px;
        }
        .paragraph {
            font-size: 13px;
            padding-bottom: 20px;
        }
    }
}